<div> 
	
	<div location="name"></div>
	

	<div class="height-small-fixed">
		<div class="float-left">
			<div class="small-margin-top" location="picture-like" ></div>
			<div location="like" ></div>
		</div>

		<div class="float-left margin-left">
			<div class="small-margin-top" location="picture-disagree"></div>
			<div location="disagree"></div>
		</div>

		<div class="float-right">
			<div class="small-margin-top" location="timestamp"></div>
		</div>

	</div>
	
	<div location="message"></div>
	
	<div class="margin-top">
		<div location="comments" class="float-left"></div>
		<div location="tags" class="float-right"></div>
	</div>

</div>