<div>

	<div location="name" class="float-left margin-top name width-hundred-percent"></div>

	<div location="picture" class="float-left margin-top margin-left-big"></div>
	
	<div class="float-left width-hundred-percent margin-top margin-left-big">
		<div location="usernameLabel" class="float-left" ></div>
		<div location="username" class="float-left"></div>
	</div>
	<div class="float-left width-hundred-percent margin-top margin-left-big">
		<div location="numberPostsLabel" class="float-left" ></div>
		<div location="numberPosts" class="float-left"></div>
	</div>
	<div class="float-left width-hundred-percent margin-top margin-left-big">	
		<div location="numberFollowersLabel" class="float-left" ></div>
		<div location="numberFollowers" class="float-left"></div>
	</div>
	<div class="width-hundred-percent">
		<div  location="button" class="float-right"></div>
	</div>
</div>